/*-------- CSS Reset ------*/
* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1em;
}

/*---------- MAIN STYLING ----------*/
html {
  scroll-behavior: smooth;
}

body {
  width: 80%;
  max-width: 700px;
  margin: auto;
  background: #222222;
  color: #FFFFFF;
  font-family: 'Libre Baskerville', serif;
}

/*---------------- TYPOGRAPHY ---------------*/
h1, h2, h3 {
  font-weight: normal;
  color: #E7625E;
  text-align: center;
}

li {
  margin-bottom: 0.7em;
}

p {
  font-family: 'Noto Serif TC', serif;
}

header p {
  font-size: 1.35em;
}

p, blockquote {
  margin-bottom: 1.5em;
  line-height: 1.5;
}

h1 {
  font-size: 2.827em;
  margin-top: 2em;
  margin-bottom: 0.1em;
  font-family: 'Cinzel', serif;
}

h2 {
  font-size: 1.999em;
  letter-spacing: .1em;
  margin-bottom: 0.6em;
  font-family: 'Spectral SC', serif;
}

h3 {
  font-size: 1.414em;
  margin-bottom: 1.5em;
}

blockquote {
  font-size: 1.414em;
  hanging-punctuation: first;
  text-indent: -0.44em;
  color: #E7625E;
}

header h3 {
  font-style: italic;
}

blockquote cite {
  font-size: 0.75em;
  color: #333
}

header h3 {
  font-style: italic
}

header p {
  font-size: 1.35em
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1em 0;
}

ul li {
  margin: 10px;
}

.list-indent {
  margin-left: 2em;
}

.list-head {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.red {
  background: orangered
}

/*-------------------- STYLING LINKS --------------*/
a {
  color: #E7625E;
  text-decoration: none;
}

a:hover {
  color: #E75;
  border-bottom: 1px dotted;
}

/*------------NAVIGATION------------------*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  padding: 1em 0;
  font-size: 0.75em;
  background-color: #E7625E;
  box-shadow: 4px 3px 6px 4px black;
}

nav ul {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul li {
  display: inline;
  margin: 20px;
}

nav a:link {
  color: #222222;
}

nav a:visited {
  color: orange;
}

nav a:hover {
  border-bottom: none;
  color: orange;
}

/*------- TABLE STYLING -------*/
table {
  margin: auto;
  display: table;
  border-collapse: collapse;
  border-spacing: 2px;
  margin-bottom: 2em;
  width: 100%;
}

caption {
  margin-bottom: 1.5em;
  text-transform: uppercase;
  letter-spacing: .2em;
}

th {
  color: #222222;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  background: #E7625E;
}

th, td {
  padding: .6em;
}

table, td {
  background: #AD4F4D;
  border: 2px solid #222222;
}

/*--------- IMAGES ----------*/
img {
  display: block;
  margin: 3em auto;
  padding: 0;
  max-width: 100%;
}

/*-------------------- FOOTER ---------------------*/
footer {
  text-align: center;
  font-size: 0.707em;
  padding: 2em 0 4em 0;
}

footer a {
  letter-spacing: .2em;
}
